.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 80px;
	padding: 0;
	background: #FFFFFF;
	z-index: 50;
}

.header h1 {
	float: left;
	margin: 0;
	/*padding: 0 30px;*/
	font-size: 28px;
	line-height: 80px;
	font-weight: 600;
	color: #20AABF;
}

.header nav {
	float: right;
	font-size: 100%;
	font-family: Lucida Console, monospace; 
}

.header nav a {
	display: inline-block;
	height: 80px;
	line-height: 80px;
	padding: 0 30px;
	min-width: 50px;
	text-align: center;
	background: #FFFFFF;
	text-decoration: none;
	color: #20AABF;
	will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
	background: #20AABF;
	color: #FFF;
}

.header nav a.active {
	background: #D4F9FF;
	color: #20AABF;
}

.header img {
	float: left;
	margin: 8px 20px 8px 50px;
	height: 64px;
	line-height: 80px;
	top: 50%;
}
